# Sample .travis.yml for R projects from https://github.com/craigcitro/r-travis

language: r
sudo: required
warnings_are_errors: true

r_github_packages:
  - jimhester/covr
after_success:
  - Rscript -e 'covr::codecov()'
